
table
    tr
        th Date
        th Description
        th Type
        th Amount
        th First Loan Balance
        th Second Loan Balance
        th Balance Drawn
        th Balance Undrawn
        th Interest Accrued
        th Interst Owed
    tr
        td#date #{ date}
        td#description #{description}
        td#type #{Type}
        td#amount #{amount}
        td#firstLoanBalance #{firstLoanBalance}
        td#secondLoanBalance #{secondLoanBalance}
        td#balanceDrawn #{balanceDrawn}
        td#balanceUndrawn #{balanceUndrawn}
        td#interestAccrued #{interestAccrued}
        td#interestOwed #{interstOwed}
    
